<ion-navbar color='primary'>
    <ion-buttons left>
        <button ion-button menuToggle *ngIf="service.isLogin=='true'"> 
                <ion-icon name="menu" ></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>
        FoodBuddy
    </ion-title>
    <ion-buttons right *ngIf="service.isLogin=='true'">
        <button ion-button (click)="scanQR()">
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
    </ion-buttons>
</ion-navbar>
<super-tabs selectedTabIndex="2" toolbarColor="light" toolbarBackground="primary" *ngIf="service.isLogin=='true'">
    <super-tab [root]="dashboard" icon="search"></super-tab>
    <super-tab [root]="fooddetail" icon="person"></super-tab>
    <super-tab [root]="stale" icon="home"></super-tab>
    <super-tab [root]="myfood" icon="heart"></super-tab>
</super-tabs>
<super-tabs selectedTabIndex="0" toolbarColor="light" toolbarBackground="primary" *ngIf="service.isLogin=='false'">
    <super-tab [root]="logins" title="Login"></super-tab>
    <super-tab [root]="register" title="Register"></super-tab>
</super-tabs>